<!DOCTYPE html>
<html lang="en">
    <style type="text/css" id="night-mode-pro-style"></style>
    <link type="text/css" rel="stylesheet" id="night-mode-pro-link">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Menu</title>
        <!-- Bootstrap core -->
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/bootstrap/css/bootstrap.css"/>
        <style>
            .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            }
            @media (min-width: 768px) {
            .bd-placeholder-img-lg {
            font-size: 3.5rem;
            }
            }
        </style>
        <!-- Custom styles for this template -->
        <link href="__PUBLIC__/assets/stylesheets/menu.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="collapse bg-dark" id="navbarHeader">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-md-7 py-4">
                            <h4 class="text-white">About</h4>
                            <p class="text-muted">A online preview of menus from RPI dining halls</p>
                        </div>
                        <div class="col-sm-4 offset-md-1 py-4">
                            <h4 class="text-white">Contact</h4>
                            <ul class="list-unstyled">
                                <li><a href="https://github.com/BotUsers/MCO-Menu-Checker-Online" class="text-white">Follow on GitHub</a></li>
                                <li><a href="https://rcos.io/projects/botusers/mco-menu-checker-online/profile" class="text-white" target="_blank">RCOS Homepage</a></li>
                                <li><a href="#" class="text-white">Email us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar navbar-dark bg-dark shadow-sm">
                <div class="container d-flex justify-content-between">
                    <a href="#" class="navbar-brand d-flex align-items-center"><strong>Menu Checker Online</strong></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </header>
        <main role="main">
            <section class="jumbotron text-center">
                <div class="container">
                    <h1 class="jumbotron-heading">Menu Checker Online</h1>
                    <p class="lead text-muted">
                      An online preview of the RPI dining hall menus.<br>
                      Students and dinning hall staffs will be able to upload both text descriptions and pictures of dishes provided by each of the dinning halls.<br>
                      The menus will be updated "mealy" by users, and we are considering to collaborate with the dinning halls to make it easier.
                    </p>
                    <p>
                        <a href="https://github.com/BotUsers/MCO-Menu-Checker-Online" class="btn btn-primary my-2">View Project Repository</a>
                        <a href="https://rcos.io/projects/botusers/mco-menu-checker-online/profile" class="btn btn-secondary my-2">View Project Homepage</a>
                    </p>
                </div>
            </section>
            <div class="Menu py-5 bg-light">
                <div class="container">
                    <div class="row">
                        <a class="col-sm-6 zoom">
                            <div class="card mb-4 shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="__PUBLIC__/assets/Img/{$data[0].id}.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="{$data[0].name}">
                                <div class="card-body">
                                    <p class="card-text" code = "{$data[0].id}">{$data[0].name}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <small class="text-muted">{$data[0].addr}</small>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="col-sm-6 zoom">
                            <div class="card mb-4 shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="__PUBLIC__/assets/Img/{$data[1].id}.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="{$data[1].name}">
                                <div class="card-body">
                                    <p class="card-text" code = "{$data[1].id}">{$data[1].name}</p>
                                    <div class="d-flex justify-content-between align-items-center">

                                        <small class="text-muted">{$data[1].addr}</small>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="row">
                        <a class="col-sm-6 zoom">
                            <div class="card mb-4 shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="__PUBLIC__/assets/Img/{$data[2].id}.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="$data[2].name">
                                <div class="card-body">
                                    <p class="card-text" code = "{$data[2].id}">{$data[2].name}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <small class="text-muted">{$data[2].addr}</small>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a class="col-sm-6 zoom">
                            <div class="card mb-4 shadow-sm">
                                <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="__PUBLIC__/assets/Img/{$data[3].id}.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="$data[3].name">
                                <div class="card-body">
                                    <p class="card-text" code = "{$data[3].id}">{$data[3].name}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <small class="text-muted">{$data[3].addr}</small>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </main>

        <!-- Footer -->
        <footer class="py-5 bg-dark">
          <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; MCO-Menu-Checker-Online 2019</p>
           </div>
          <!-- /.container -->
        </footer>

        <script>
            var controller = "__CONTROLLER__/";
        </script>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="__PUBLIC__/assets/bootstrap/js/bootstrap.js"></script>
        <script>
        $(function () {
            $('.zoom').attr('href', "javascript:void();");
            $('.card-body').click(function () {
                window.location.href = controller+"restaurant"+"?name="+$(this).children('.card-text').attr('code');
            })
        });
        </script>
    </body>
    <style id="global-dark-mode" media="screen">html:before {
        content: " ";
        z-index: 100000000000000;
        pointer-events: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.20);
        }

        .zoom:hover {
            transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        }
    </style>
</html>
