<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width" initial-scale="1" maximum-scale="1" user-scalable="no"/>
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/assets/javascripts/default.js"></script>

		<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="__PUBLIC__/assets/bootstrap/js/bootstrap.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/bootstrap/css/bootstrap.css"/>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/stylesheets/default.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/stylesheets/index.css"/>
		<style>

				.type-wrap{
						margin: 10px auto;
						padding: 20px;
						background: #f0f0f0;
						border-radius: 5px;
						border: #CCC 1px solid;
				}

				main{
					height: 100%;
				}

				h1{
					text-align: center;
				}

		</style>
	<title>MCO Online Menu Checker</title>
</head>
<body>

<main role="main" class="form-signin">
<div class="container center-block">
		<div class="type-wrap" style="height: 50%;">
    		<span id="typed6" style="white-space:pre;"></span>
  	</div>
</div>
</main>

</body>
<script>
$(function() {

		var controller = "__CONTROLLER__/";

		var quickShown = false;

		$(document).on('keypress', function(e){
        if (e.which == 13) {
            window.location.href = controller+"home";
        }
    });

		var typed6 = new Typed('#typed6', {
    strings: ['<h1>{$content[0]}</h1>\n{$content[1]}'],
    typeSpeed: 50,
    backSpeed: 0,
    loop: false,
		onComplete: (self) => {
			window.setTimeout(function() {
					window.location.href = controller+"home";
			}, 500);
		}
  	});

})
</script>
</html>
