<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Page for each dining hall in RPI">
	<meta name="author" content="BotUsers">

	<!-- This title should be dynamically changed by backend to reflect the name of the dining hall chosen by the user -->
	<title></title>

	<!-- Link to Bootstrap core CSS -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/bootstrap/css/bootstrap.css">

	<!-- Link to custom styles for this page -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/assets/stylesheets/diningHall.css">

</head>

<body>

	
</body>



</html>