<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width" initial-scale="1" maximum-scale="1" user-scalable="no"/>
    <script type="text/javascript" src="__PUBLIC__/Static/Home/javascripts/default.js"></script>

		<!-- TODO bootstrap importation -->
		<script type="text/javascript" src="__PUBLIC__/Static/bootstrap/*"></script>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Static/bootstrap/*"/>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Static/Home/stylesheets/default.css"/>
	<title></title>
</head>
<body>
	{$admin.content}
</body>
</html>
